.App {
  display: flex;
  text-align: center;
  color: #ffffff;
}
#root {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(8, 79, 133, 0) 100%
    ),
    #084f85;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}
